/* ===== RESET
 background-image: radical-gradient(circle, #2563eb 1px, transparent 1px);
    background-size: 30px 30px;
     ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background: radial-gradient(circle at top, #1f2937, #020617);
    color:white;
    min-height:100vh;
}

/* ===== HEADER ===== */
header{
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    padding:18px;
    text-align:center;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

/* ===== HERO ===== */
.hero{
    text-align:center;
    padding:40px 20px 20px 20px;
    margin-bottom:20px;
}

.hero h1{
    font-size:38px;
    color:#facc15;
    text-shadow:0 0 15px rgba(250,204,21,.6);
}

/* ===== SEARCH ===== */
.search-box{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:25px;
}

.search-box input{
    padding:14px;
    width:280px;
    border-radius:10px;
    border:none;
    outline:none;
    background:#111827;
    color:white;
    border:1px solid rgba(255,255,255,0.1);
    transition:.2s;
}

.search-box input:focus{
    border:1px solid #facc15;
    box-shadow:0 0 10px rgba(250,204,21,.4);
}

.search-box button{
    padding:14px 24px;
    border:none;
    border-radius:10px;
    background:linear-gradient(45deg,#facc15,#f97316);
    font-weight:bold;
    cursor:pointer;
    transition:.25s;
}

.search-box button:hover{
    transform:translateY(-2px) scale(1.05);
    box-shadow:0 0 20px rgba(250,204,21,.5);
}

/* ===== GRID (CENTRALIZAÇÃO CORRIGIDA) ===== */
.grid{
    width:100%;
    min-height:60vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* ===== CARD ===== */
.card{
    margin:auto;
    width:340px;
    border-radius:14px;
    overflow:hidden;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(14px);
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:0 20px 40px rgba(0,0,0,.6);
    transition:.35s;
    position:relative;

    /* animação */
    animation:fadeUp .5s ease;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.card:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow:0 0 30px rgba(250,204,21,.35);
}

/* ===== IMAGE ===== */
.img-box{
    background:#e5e7eb;
    text-align:center;
}

.img-box img{
    width:100%;
    height:320px;
    object-fit:contain;
    transition:.35s;
}

.card:hover img{
    transform:scale(1.05);
}

/* ===== INFO ===== */
.info{
    padding:20px;
}

.info h2{
    font-size:26px;
    margin-bottom:6px;
}

.race{
    color:#facc15;
    font-weight:bold;
    margin-bottom:10px;
}

/* ===== DESCRIPTION ===== */
.desc{
    margin-top:14px;
    font-size:14px;
    color:#cbd5e1;
    line-height:1.5;
}

/* ===== ERROR ===== */
.erro{
    text-align:center;
    color:#f87171;
    margin-top:15px;
}